<div class="main">
    <div *ngIf="posts !== undefined else placeholder">
        <h1>{{posts[0].lName}}</h1>
        <div *ngIf="undecided ; else elseof">
            <p>{{posts[0].lDescription}} </p>
            <button  mat-raised-button color="primary" class="choice" type="button" (click)="onEditClick(m1.first)">{{m1.first}}</button>
            <button  mat-raised-button color="primary" class="choice" (click)="onRouting()" >{{m1.second}}</button>
            <button  mat-raised-button color="primary" class="choice" (click)="onEditClick(m1.third)" >{{m1.third}}</button>
        </div>
        <ng-template #elseof>
            <div *ngIf="shopping else drinking">
                <app-merchants [data]="data" (backToOption)="reverse()"  ></app-merchants>
            </div>
        <ng-template #drinking>
            <app-location [data]="data" (backToOption)="reverse()"   > </app-location>
        </ng-template>

        </ng-template>
    </div>
  
    <ng-template #placeholder>
        <h1>Fetching your location please standbye.</h1>
        <div class="router">
            <a class="button" routerLink="/">Back To Home</a>
        </div>
    </ng-template>  
</div>