<div class="main">
    <div *ngIf="locationData.lName.length != 0  else placeholder">
        <h1>{{locationData.lName}}</h1>
           <div [ngSwitch]="cityOption">
                <div *ngSwitchCase="'merchant'">
                    <app-merchants [data]="locationData"    (backToOption)="reverse()" ></app-merchants>
                </div>
                <div *ngSwitchCase="'socializing'">
                    <app-location [data]="locationData" (backToOption)="reverse()" > </app-location>
                </div>
                <div *ngSwitchDefault>
                    <p>{{locationData.lDescription}} </p>
                    <button  mat-raised-button color="primary" class="choice" type="button" (click)="navigateTheSettlement(true)">{{m1.first}}</button>
                    <button  mat-raised-button color="primary" class="choice" (click)="onRouting()" >{{m1.second}}</button>
                    <button  mat-raised-button color="primary" class="choice" (click)="navigateTheSettlement(false)" >{{m1.third}}</button>
                </div>
           </div>
    </div>
    <ng-template #placeholder>
        <h1>Fetching your location please standbye.</h1>
        <div class="router">
            <a class="button" routerLink="/">Back To Home</a>
        </div>
    </ng-template>  
</div>