<div *ngIf="decision else decided">
    <h1>{{name}}</h1>
    <p>{{data.lDescription}}</p>
    <h2>What would you like to do?</h2>
    <div *ngIf="hasQuest" >
        <button (click)="decisionMade(0)" >{{decisionOption0}}</button>
    </div>
    <button (click)="decisionMade(1)">{{decisionOption1}}</button>
    <button (click)="decisionMade(2)">{{decisionOption2}}</button>
</div>

<ng-template #decided>
    <div *ngIf="option1 else option2" >
        <div [ngSwitch]="adventureOption">
            <div *ngSwitchCase="'quest'">
                 <p>{{data.onArrival}}</p>
                 <p>{{data.inCombat}}</p>
                 <p>{{data.afterCombat}}</p>
            </div>
            <div *ngSwitchCase="'combat'">
             <p>Whale Fight Club </p>
             <app-fight [monsterData]= "data" ></app-fight>
            </div>
            <div *ngSwitchCase="'wait'">
                <app-adventure-booty></app-adventure-booty>
            </div>
            <div *ngSwitchCase="'stealth'">
                 <p>Stealth the Whale</p>
                 <app-stealth></app-stealth>
            </div>
            <div *ngSwitchDefault>
                 <p>{{data.adventure}}</p>
                 <button (click)="option1Choices(1)" >Wait and see what to do</button>
                 <button (click)="option1Choices(2)" >Attempt to sneak past the beast</button>
                 <button (click)="option1Choices(3)" >Fight</button>
                 <button (click)="escape('prior_decision')">Flee.</button>
            </div>
         </div>
    </div>

    <ng-template #option2>
    <p>exploration option</p>
    </ng-template>
     <button (click)="escape('prior_decision')" >Back</button>
</ng-template>