<div *ngIf="posts !== undefined else placeholder">
    <div *ngIf="deliberating else decided">
        <p>{{this.posts.details}}</p>
        <button mat-raised-button color="primary" (click)="onAccept(true)" >Accept</button>
        <button mat-raised-button color="primary" (click)="onAccept(false)" >Refuse</button>
    </div>
    <ng-template #decided>
        <p>{{this.response}}</p>
        <button mat-raised-button color="primary" (click)="onRouting('Stirring Sea')" >Fast Track to Quest Location</button>
        <button mat-raised-button color="primary" (click)="onAccept(false)" >Return to what your doing</button>
    </ng-template>
</div>

<ng-template #placeholder>
    <h1>{{giver}} scrarches his chin.</h1>
</ng-template>  

<div class="router">
    <a class="button" routerLink="/hehl">Back To Home</a>
</div>