<div *ngIf="hasNotDecided; else elseBlock">
    <div class="routes">
        <h2>May I see your identification dear traveller?</h2>
        <button (click) = "access('register')" >I have no identification</button>
        <button (click) = "access('login')" >Here is my Identification</button>
        <!-- <a class="button2 a" routerLink="/hehl">No one will miss me.</a>  
        <a class="button2 b" routerLink="/login-register">I have people waiting at home for me.</a> -->
    </div>
</div>
<ng-template #elseBlock>
    <button (click) = "access('login')" >Return to the past</button>
    <div *ngIf="login; else register">
        <app-login></app-login>
    </div>
    <ng-template #register>
        <app-registration></app-registration>
    </ng-template>
</ng-template>