<div *ngIf="prechoice else decided">
    <p>{{questDialogue}}</p>
    <button (click)="choose(1)" >{{data.questButton1}}</button>
    <button (click)="choose(2)" >{{data.questButton2}}</button>
</div>

<ng-template #decided>
    <div [ngSwitch]="choice">
        <div *ngSwitchCase="'combat'">
            <app-fight [monsterData]= "data" ></app-fight>
           </div>
           <div *ngSwitchCase="'option1'">
               <p>{{data.questdialogue2}}</p>
           
               <button (click)="potentialCombat(1)" >{{questButton1}}</button>
               <div *ngIf="notBackTracking else yes">
                    <button (click)="potentialCombat(2)" >{{questButton2}}</button>
               </div>
               <ng-template #yes>
                    <button (click)="doneQuest()" >{{placeholder}}</button>
               </ng-template>
               
           </div>
           <div *ngSwitchCase="'option2'">
               <p>{{data.questdialogue3}}</p>
           </div>
    </div>
   <button (click)="back()" >Back to prechoice</button>
</ng-template>

